.mail__link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.mail__link:hover {
    text-decoration: underline;
}

.mail__img {
    margin-right: 5px;
}

footer .mail__img {
    filter: invert(1) brightness(2);
}

@media (max-width: 440px) {
    .mail__img {
        display: none;
    }

    footer .mail__img {
        display: block;
    }
}
