.options {
    display: flex;
    flex-direction: column;
}

.options__title {
    font-size: 38px;
}

.options__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1100px) {
    .options__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .options__container {
        grid-template-columns: 1fr;
    }
}