* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  /* max-width: 1280px;

  margin: 0 auto;
  padding: 0 40px;

  text-align: center; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

section {
  margin-bottom: 40px;
}

.main {
  max-width: 1280px;

  margin: 0 auto;
  padding: 90px 40px 0 40px;

  text-align: center;
}

@media (max-width: 767px) {
  img {
      pointer-events: none;
      user-select: none;
      -webkit-user-drag: none;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }
}
