.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 20px;
}

.nav__link {
    color: inherit;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__tours {
    padding: 3px 10px 5px 10px;

    color: #fff;

    border-radius: 5px;
    background-color: #000;
}

.nav__tours:hover {
    text-decoration: none;
    background-color: #000000c9;
    transition: 100ms;
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }
}
